* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.bx {
   transition: transform 0.3s ease;
}

.bx:hover {
   transform: scale(1.5);
}

body {
   width: 100%;
   font-family: "Poppins", sans-serif;
   background-color: #ffe3e1;
}

/* CHECKOUT           --------------------------------------------    FORM------------------- */
input[type="email"],
input[type="text"] {
   width: 90%;
   padding: 5px;
}

.kunduppgifter {
   text-align: center;
   font-size: 1.3rem;
   font-weight: 500;
}

input[type="number"] {
   padding: 5px;
   /* width: 50%; */
}

.checkout {
   margin: 20px;
   gap: 10px;
}

.form-container {
   display: flex;
   flex-direction: column;
   margin-left: 5px;
   max-width: 1000px;
}

.input-group {
   display: flex;
   flex-direction: column;
}

#gata,
#stad {
   max-width: 500px;
}

.checkout-form {
   padding: 10px;
   max-width: 1000px;
}

.buy {
   font-size: 1.3rem;
   padding: 0.5em 2em;
   border: transparent;
   box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
   background: dodgerblue;
   color: white;
   border-radius: 4px;
   font-family: inherit;
   margin: auto;
   display: block;
}

.buy:hover {
   background: rgb(2, 0, 36);
   background: linear-gradient(
      90deg,
      rgba(30, 144, 255, 1) 0%,
      rgba(0, 212, 255, 1) 100%
   );
}

.buy:active {
   transform: translate(0em, 0.2em);
}

@media (min-width: 641px) {
   #stad {
      width: 50%;
   }
   .kunduppgifter {
      text-align: start;
      margin-left: 20px;
      margin-top: 10px;
   }
   .form-container {
      flex-direction: row;
      flex-wrap: wrap;
   }

   .grp-1,
   .grp-2 {
      flex: 1;
      min-width: 300px;
   }

   .grp-3 {
      flex-basis: 50%;
   }
}

/* CHECKOUT          -------------------------------------------------------     FORM------------------- */

.table {
   max-width: 500px;
   align-items: center;
   margin: auto;
   padding: 15px;
}

.kassan {
   text-align: center;
   margin: 10px;
}

.td-1,
.td-2,
.td-0 {
   font-size: 1.2rem;
   font-weight: 550;
}

.td-0 {
   margin-right: 4px;
}

.td-1,
.td-2 {
   flex: 1;
}

.td-2 {
   flex: 0 0 10px;
}

.td-3 {
   flex-basis: 100%;
   color: rgb(87, 87, 87);
   font-size: 0.8rem;
}

.tr {
   border: 1px solid black;
   display: flex;
   height: 80px;
   flex-wrap: wrap;
   padding: 10px;
   align-items: center;
   justify-content: space-between;
   border-bottom: 1px solid black;
}

.extra-row {
   display: none;
}

@media (min-width: 640px) {
   .td {
      flex: 1;
      padding: 7px;
      text-align: left;
   }

   .td {
      border-right: 1px solid black;
   }

   .table {
      border: 1px solid black;
      padding: 0;
      margin: 20px auto;
      width: 95%;
      max-width: 1200px;
   }

   .td-1 {
      order: -1;
   }

   .td-2 {
      order: 4;
      border: none;
   }

   .td-1,
   .td-2,
   .td-0,
   .td-3 {
      font-size: 0.9rem;
      font-weight: 500;
      color: black;
      text-align: start;
   }

   .tr {
      height: 35px;
      padding: 0px;
      border: none;
   }

   .extra-row {
      display: flex;
      background-color: grey;
      border-bottom: 1px solid black;
   }

   .tr-1 {
      background-color: lightgray;
   }

   .tr-2 {
      background-color: whitesmoke;
   }

   span {
      display: none;
   }
}
/* CHECKOUT------------------------------------------------------------------------------------------------------ */

.flex-container {
   display: flex;
   flex-wrap: nowrap;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
   background-color: #ff9494;
}

.search-bar {
   /* padding-left: 10px; */
   max-width: 100%; /*  */
   display: inline-block;
   /* flex-flow: 1;    */
   min-width: 150px;
}

#sokruta {
   /* background-color: #FF9494; */

   max-width: 100%;
   padding: 10px;
   padding-left: 40px;
   border-radius: 10px;
   height: 35px;
   background-image: url("https://img.icons8.com/?size=25&id=7695&format=png&color=000000");
   background-position: 10px;
   background-repeat: no-repeat;
   font-family: inherit;
   border: none;
}
.icons,
.bxs-heart {
   color: rgb(82, 8, 8);
}

.icons {
   flex: 1 auto;
   display: flex;
   font-size: 1.5rem;
   gap: 10px;
   padding: 10px;
   color: black;
   justify-content: right;
}

/* .logo {
   display: flex;
   margin: 5px auto;
   border-radius: 10px;
}
 */
#tophead {
   display: flex;
   margin: auto;
   width: 100%;
   height: 100%;
   border-radius: 10px;
}

a {
   color: black;
}

a:visited {
   color: black;
}

#sokruta:hover {
   background-color: #ffe3e1;
}

.navbar {
   padding: 10px;
   background-color: #ffd1d1;
}

.navlinks {
   list-style: none;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   flex-direction: column;
}

.navlinks li {
   margin: 5px;
}

.navlinks a:hover {
   opacity: 80%;
}

.navlinks a {
   color: black;
   text-decoration: none;
   font-size: 1.2rem;
}

.productcard {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   text-align: left;
   margin: 10px;
}

.product1 {
   width: 100%;
   flex-wrap: wrap;
   justify-content: center;
   background-color: aquamarine;
   display: flex;
   position: relative;
   max-height: 100%;
}

.produktikon2 {
   position: absolute;
   right: 15px;
   bottom: 15px;
   font-size: 1.8rem;
}

.product2 {
   justify-content: center;
   align-items: center;
   display: block;
   padding-top: 15px;
}

#prodpic {
   justify-content: center;
   max-width: 100%;
   flex: auto;
   max-height: 100%;
   object-fit: cover;
}

.prodknapp {
   display: block;
   margin: auto;
   width: 95%;
   height: 1.8rem;
   font-family: inherit;
   border-radius: 5px;
   cursor: pointer;
   font-weight: bold;
   background-color: rgb(216, 216, 216);
}
.prodknapp:hover {
   background-color: rgba(216, 216, 216, 0.5);
}

.prodknapp:active {
   background-color: rgb(175, 175, 175);
}

.product2 > p:first-child {
   font-size: 1.2rem;
}

.product2 > p:nth-child(3) {
   font-style: italic;
}

/*  PRODUKTSIDA ^ */

/* HEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEERO-------------------- */

.hero {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   text-align: center;
   margin-left: 20px;
   margin-right: 20px;
   max-height: 600px; /* dssssssssss */
   margin-top: 30px;
}

.hero1 {
   background-color: skyblue;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   max-height: 500px;
}

.hero1,
.hero2 {
   flex: 1 1 100%; /* växer och krymper accordingly 100% of size */
}

.hero2 {
   padding-bottom: 10px;
}

.hero2 {
   display: flex;
   justify-content: center;
   align-items: center;
   display: block;
   padding-top: 15px;
}

#heropic {
   max-width: 100%;
   height: auto;
   flex: content;
   max-height: 500px;
   object-fit: cover;
}

/* HEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEERO -------------------- */

/* SPOTTTTTTTTTTTTTTTTS */

.spots {
   display: none;
   justify-content: space-around;
   gap: 10px;
   margin-top: 30px;
   margin-left: 20px;
   margin-right: 20px;
}

.spot-container {
   flex-direction: column;
   display: flex;
   align-items: center;
   position: relative;
   width: 400px;
   margin: 10px;
   display: inline-block;
}

h3 {
   display: inline-block;
   width: 300px;
   text-align: center;
   font-size: 1.2rem;
}

.spot-container img {
   display: block;
   /*  max-height: 350px; */ /* 26 sept */
   /*   align-self: center; */
   width: 100%;
   height: auto;
}

.spot-container a {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-decoration: none;
   font-size: 1.2rem;
}

.spot-container a:hover {
   opacity: 80%;
}

/* SPOTTTTTTTTTTTTTTTTS */

/* PRODDUUUUUUUUUUUUUUKT GRIDDDDDDDDDDDDDDDDDDD vvvvvvvvvvvvvvvv */
.productcard {
   margin: 15px;
}

.grid-product {
   display: grid;
   grid-gap: 20px;
   padding: 10px;
   max-width: 100%;
   margin: 15px;
}

.flex-product-1 > img {
   max-width: 500px; /* REZISEEEEEEEEEEE THIS */
}

.flex-product-1 {
   width: 100%;
   position: relative; /*  till ikonen */
   margin-bottom: 5px;
   max-width: 500px;
}

.produktikon {
   position: absolute;
   font-size: 1.8rem;
   bottom: 15px;
   right: 15px;
}

.nyhet {
   font-size: 1.5rem;
   position: absolute;
   top: 15px;
   left: 15px;
   background-color: black;
   color: whitesmoke;
   padding: 10px;
   border-radius: 10px;
}

.levis {
   font-size: 1rem;
   align-self: flex-start;
   padding-left: 20px;
   margin-top: 5px;
}

.gridflex {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%; /* REZISE THISFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF */
   margin: 0 auto;
   background-color: #fff5e4;
   margin-top: 30px;
}

.gridflex img {
   flex: auto;
   width: 100%;
   height: auto;
   margin-bottom: 10px;
   max-width: 100%;
   max-height: 100%;
   flex-grow: 1;
   object-fit: contain;
}

.textcontainer {
   display: flex;
   width: 90%;
   justify-content: space-between;
   font-weight: 600;
}

/* PRODDUUUUUUUUUUUUUUKT-------- GRIDDDDDDDDDDDDDDDDDDD     ^^^^^^ */

/* PRODUKT GRID LIKNANDE PRODUKTER vvvvvvvvvvv     */

.slider p {
   text-align: center;
   text-transform: capitalize;
   font-size: 1.5rem;
   font-weight: bold;
   margin-top: 15px;
}

.slider {
   position: relative;
   width: 100%;
   overflow: hidden;
   margin: 0 auto;
   margin-top: 15px;
}

.slides {
   display: flex;
   width: 300%;
   transition: transform 0.5s ease-in-out;
}

.slide {
   width: 100%;
   display: flex;
   justify-content: center;
   gap: 30px;
   margin: 20px;
}

.slide a {
   text-decoration: none;
}

.slide a img {
   width: 100%;
   height: auto;
   margin: 0 auto;
}

input[type="radio"] {
   display: none;
}

#slide1:checked ~ .slides {
   transform: translateX(0);
}

#slide2:checked ~ .slides {
   transform: translateX(-33.33%);
}

#slide3:checked ~ .slides {
   transform: translateX(-66.66%);
}

.nav-container {
   display: flex;
   justify-content: center;
   margin-top: 20px;
}

.nav {
   width: 10px;
   height: 10px;
   border-radius: 50%;
   background-color: #ddd;
   margin: 5px;
   margin-bottom: 20px;
   cursor: pointer;
}

#slide1:checked ~ .nav-container .nav:nth-child(1),
#slide2:checked ~ .nav-container .nav:nth-child(2),
#slide3:checked ~ .nav-container .nav:nth-child(3) {
   background-color: #000000;
}

@media (max-width: 640px) {
   .slider {
      display: none;
   }
}

/* PRODUKT GRID LIKNANDE PRODUKTER ^^^^^^^^^^^^^^^^^^^^^^^^       */

/* EXPRESS / RETURER / SÄKRA BETALNINGAR / NYHETER */
.grid-item > p {
   font-size: 1.2rem;
}

.grid-item > i {
   font-size: 2.4rem;
   padding-right: 10px;
   color: rgb(51, 51, 51);
   justify-content: center;
}

.grid-item {
   /* display: inline-block; */
   display: flex;
   flex-direction: row;
   justify-content: start;
   text-align: center;
   align-items: center;
   /*   margin: auto; */
   max-width: 320px;
}

.grid-container {
   display: grid;
   gap: 15px;
   padding: 10px;
   margin: 30px;
   justify-content: start;
}
/* ACCORDION CONTAINER */

.accordion {
   display: flex;
   flex-direction: column;
   /* gap: 10px; */
   width: 100%;
   border: 1px solid grey;
}

details summary {
   font-size: 1rem;
   cursor: pointer;
   list-style: none;
   padding: 10px;
}

details {
   border: 1px solid grey;
}

details[open] summary {
   background-color: skyblue;
}

details p {
   font-size: 0.9rem;
   padding: 10px;
   padding-left: 15px;
}

#copyright {
   text-align: center;
   font-size: 1rem;
   padding-bottom: 30px;
   padding-top: 20px;
}

/* QUEEEEEEEEEEEEEEEERIES */

@media (max-width: 640px) {
   /* innan 640px + blir det */

   .grid-product {
      grid-template-columns: 1fr; /* Ba en kolumn till 640+ */
   }

   .gridflex {
      max-width: 500px;
   }

   .flex-container {
      justify-content: space-between;
      flex-wrap: wrap;
      max-width: 700px;
      max-height: 400px;
      /* margin: 1 auto; */ /* 25 sept */
   }

   .search-bar,
   #sokruta {
      flex: 1;
   }

   .search-bar,
   .icons {
      flex: 1 1 50%;
      margin: auto;
   }

   #tophead {
      object-fit: cover;
      max-height: 150px;
   }

   .icons {
      flex: 1 1 100px;
   }

   div p:first-of-type {
      font-weight: 500;
   }

   .flex-product-3 > p {
      font-size: 1.1rem;
   }

   .flex-product-2 > p {
      font-size: 1.1rem;
   }

   .product2 > p {
      font-size: 1.2rem;
   }

   .product1,
   #prodpic {
      width: 100%;
      height: 100%;
   }

   #prodpara {
      display: none;
   }

   .logo,
   #tophead {
      flex-grow: 1;
   }

   .logo {
      max-width: 100%;
      max-height: 250px;
      flex-grow: 1;
   }
   .hero2,
   h1,
   p {
      font-size: 1.5rem;
   }
}

@media (min-width: 640px) and (max-width: 1024px) {
   .grid-product {
      grid-template-columns: repeat(2, 1fr); /* 2 kolumner  */
   }

   .grid-container {
      grid-template-columns: 1fr 1fr; /* Express ändrar till 2 2 */
      grid-template-rows: 1fr 1fr;
      justify-content: center;
      margin: 30px;
   }

   .rowtwo > p {
      margin: auto;
   }

   .grid-item {
      justify-content: center;
      text-align: center;
      margin: auto;
   }

   #prodpara {
      font-size: 1.3rem;
   }
}

@media (min-width: 640px) {
   /*  efter 640px blir det.. */
   .navlinks {
      flex-direction: row;
      justify-content: left;
   }
   .navlinks li {
      padding-left: 50px;
   }

   .accordion {
      /*  ändrar till row ist för column  */
      flex-direction: row;
      justify-content: left;
      gap: 50px;
      height: 250px;
      background-color: rgb(194, 194, 194);
      padding-top: 20px;
      border: none;
   }

   .accord1,
   .accord2,
   .accord3 {
      width: 150px;
   }

   details[open] summary {
      /*  tar bort bakgrundsfärgen ifrån listan */
      background-color: transparent;
   }

   details {
      flex-basis: 10%; /* stretchar ut dem */
      padding-left: 30px;
      border: none;
   }

   details summary {
      /*  gör så att det inte går att klicka på summaryn */
      /* pointer-events: none;                         går ej klicka.. */
      border: none;
      background-color: transparent;
      font-weight: 550;
   }

   #copyright {
      background-color: rgb(194, 194, 194);
   }

   .productcard {
      flex-direction: row;
      justify-content: left;
   }

   .product1 {
      /*  tar upp 44% av ytan */
      flex: 0 0 44%;
      max-width: 380px;
   }

   .product2 {
      flex: 1; /* TAR UPP RESTEN AV SPACE */
      max-width: 500px;
      padding-left: 20px;
   }

   .prodknapp {
      width: 150px;
      margin: 1px;
   }

   .produktikon2 {
      display: none;
   }

   .search-bar {
      padding-left: 10px;
   }
}

@media (min-width: 1024px) {
   /*  över 1024px visas ist */
   .hero {
      flex-wrap: nowrap; /* Stoppar wrapping när skärmen är större än 1024px */
   }
   .hero1 {
      flex: 0 0 60%; /*  bilden ska ta 60% av skärmen över 1024px */
   }

   .hero2 {
      order: -1; /*  så kära texten kommer till vänster */
   }

   .spots {
      /*  över 1024 så visas spotsen ist för display:none */
      display: flex;
   }
   .grid-product {
      grid-template-columns: 1fr 1fr 1fr 1fr; /*  4 kolumner  */
   }

   .grid-container {
      /* Express ändrar till 4 columner */
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      justify-content: center;
      margin: 10px;
   }
   .grid-item {
      justify-content: center;
      text-align: center;
      margin: auto;
   }

   .productcard {
      flex-direction: row;
      justify-content: left;
      height: 600px;
   }

   #prodpic {
      object-fit: cover;
      max-height: 100%;
      max-width: 650px;
      min-height: 100%;
   }
   .product1 {
      /*  tar upp 44% av ytan */
      flex: 0 0 44%;
      max-width: 100%;
   }

   .product2 {
      /* flex: 1;    */ /* TAR UPP RESTEN AV SPACE */
      max-width: 600px;
      padding-left: 20px;
   }

   .product1 {
      /*  tar upp 44% av ytan */
      /*  flex: 0 0 70%; */
      max-width: 550px;
   }

   .product2 {
      flex: 1; /* TAR UPP RESTEN AV SPACE */
      max-width: 500px;
      padding-left: 20px;
   }

   #prodbild {
      max-height: 500px;
      max-width: 400px;
   }

   .imagecontainer {
      max-height: 500px;
      max-width: 400px;
      border: 2px solid red;
   }

   .row-container {
      max-width: 400px;
   }
}

@media (max-width: 270px) {
   #lastitem {
      width: 100%;
      flex: 1;
   }
   #sokruta {
      width: 100%;
   }
   .icons {
      justify-content: center;
   }
}
