<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel='stylesheet' href='/stylesheets/css/adminstyle.css' />
    <title>Ny Produkt</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=SUSE:wght@100..800&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>


    <div class="container">

        <div class="item item-1">
            <h1>Administration</h1>
        </div>
        <div class="item item-2">
            <a href="index.html">Produkter</a>
        </div>
        <div class="item item-3">

            <div class="flexcontainer">
                <div class="flex flex-1">
                    <h2>Produkter</h2>
                </div>
                <div class="flex flex-2"><a href="new.html">Ny Produkt</a></div>


                <!-- <div class="flex flex-2"><a href="new.html"><button>Ny Produkt</button></a></div> -->
                <!-- /admin/products/new.html -->

                <div class="flex flex-3">

                    <table>
                        <tr>
                            <th>Namn</th>
                            <th>SKU</th>
                            <th>Pris</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>Svart T-shirt</td>
                            <td>AAA111</td>
                            <td>199</td>
                            <td>
                                <a href=""><i class='bx bx-edit-alt'></i></a>
                                <a href=""><i class='bx bx-trash'></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Vit T-Shirt</td>
                            <td>BBB111</td>
                            <td>199</td>
                            <td>
                                <a href=""><i class='bx bx-edit-alt'></i></a>
                                <a href=""><i class='bx bx-trash'></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>...</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>

                </div>
            </div>

        </div>

    </div>


</body>

</html>